# Rainfall-Tide Type Classification

In [1]:
# 导入依赖包
import pandas as pd
import numpy as np
from scipy.sparse.linalg import cg
import matplotlib.pyplot as plt
import seaborn as sns
import os
import sys
import glob
import time
import datetime

In [2]:
# 查看所有16场降雨主导洪水事件和10潮汐主导洪水事件是否有日期重复
import os

# 指定文件夹的路径
rainfall_folder_path = 'D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/csv/rainfall/'
tidal_folder_path = 'D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/csv/tidal/'

# 获取rainfall文件夹中所有CSV文件的文件名
rainfall_csv_files = [file for file in os.listdir(rainfall_folder_path) if file.endswith('.csv')]

# 获取tidal文件夹中所有CSV文件的文件名
tidal_csv_files = [file for file in os.listdir(tidal_folder_path) if file.endswith('.csv')]

# 提取每个CSV文件的文件名（不包括文件扩展名）
rainfall_file_names = [os.path.splitext(csv_file)[0] for csv_file in rainfall_csv_files]
tidal_file_names = [os.path.splitext(csv_file)[0] for csv_file in tidal_csv_files]

# 合并文件名列表
all_file_names = rainfall_file_names + tidal_file_names

# 检查是否有重复的文件名
from collections import Counter

duplicates = [item for item, count in Counter(all_file_names).items() if count > 1]

if duplicates:
    print("重复的降雨潮汐洪水事件日期:")
    for duplicate in duplicates:
        print(duplicate)
else:
    print("没有重复的降雨潮汐洪水事件日期。")

# 如果需要查看所有文件名，可以打印all_file_names列表
# print(all_file_names)

没有重复的降雨潮汐洪水事件日期。

In [3]:
# 降雨主导事件1-16
df1 = pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Aug_07_2017.csv", index_col=None, header=0)
df2 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Aug_09_2016.csv", index_col=None, header=0)
df3 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Aug_20_2018.csv", index_col=None, header=0)
df4 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Aug_29_2017.csv", index_col=None, header=0)
df5 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jan_02_2017.csv", index_col=None, header=0)
df6 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jul_15_2017.csv", index_col=None, header=0)
df7 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jul_30_2018.csv", index_col=None, header=0)
df8 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jul_31_2016.csv", index_col=None, header=0)
df9 =   pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jun_05_2016.csv", index_col=None, header=0)
df10 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Jun_22_2018.csv", index_col=None, header=0)
df11 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/May_06_2018.csv", index_col=None, header=0)
df12 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/May_28_2018.csv", index_col=None, header=0)
df13 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Oct_08_2016.csv", index_col=None, header=0)
df14 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Oct_29_2017.csv", index_col=None, header=0)
df15 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Sep_03_2016.csv", index_col=None, header=0)
df16 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/Sep_21_2016.csv", index_col=None, header=0)

In [4]:
# 潮汐主导事件17-26
df17 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Feb_09_2016.csv", index_col=None, header=0)
df18 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Jan_23_2016.csv", index_col=None, header=0)
df19 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Jan_23_2017.csv", index_col=None, header=0)
df20 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Jan_24_2017.csv", index_col=None, header=0)
df21 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Mar_21_2018.csv", index_col=None, header=0)
df22 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/May_05_2016.csv", index_col=None, header=0)
df23 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Nov_08_2017.csv", index_col=None, header=0)
df24 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Sep_09_2018.csv", index_col=None, header=0)
df25 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Sep_19_2017.csv", index_col=None, header=0)
df26 =  pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/原始数据/csv/tidal/Sep_29_2016.csv", index_col=None, header=0)

In [5]:
# 查看每张表格FID_数量，以及FID_是否都是对应的

dfs = [df1, df2, df3, df4, df5, df6, df7, df8, df9, df10,df11,df12, df13, df14, df15, df16, df17, df18, df19, df20, df21, df22, df23, df24, df25, df26]
# 步骤1：统计每个DataFrame中唯一的FID_个数
unique_fid_counts = []
for df in dfs:
    if 'FID_' in df.columns:
        unique_fid_count = len(df['FID_'].unique())
        unique_fid_counts.append(unique_fid_count)

# 输出每个DataFrame中唯一的FID_个数
for i, count in enumerate(unique_fid_counts):
    print(f"DataFrame {i+1}: 唯一的FID_个数 = {count}")

DataFrame 1: 唯一的FID_个数 = 17315
DataFrame 2: 唯一的FID_个数 = 17315
DataFrame 3: 唯一的FID_个数 = 17315
DataFrame 4: 唯一的FID_个数 = 17315
DataFrame 5: 唯一的FID_个数 = 17315
DataFrame 6: 唯一的FID_个数 = 17315
DataFrame 7: 唯一的FID_个数 = 17315
DataFrame 8: 唯一的FID_个数 = 17315
DataFrame 9: 唯一的FID_个数 = 17315
DataFrame 10: 唯一的FID_个数 = 17315
DataFrame 11: 唯一的FID_个数 = 17315
DataFrame 12: 唯一的FID_个数 = 17315
DataFrame 13: 唯一的FID_个数 = 17315
DataFrame 14: 唯一的FID_个数 = 17315
DataFrame 15: 唯一的FID_个数 = 17315
DataFrame 16: 唯一的FID_个数 = 17315
DataFrame 17: 唯一的FID_个数 = 17304
DataFrame 18: 唯一的FID_个数 = 17304
DataFrame 19: 唯一的FID_个数 = 17304
DataFrame 20: 唯一的FID_个数 = 17304
DataFrame 21: 唯一的FID_个数 = 17304
DataFrame 22: 唯一的FID_个数 = 17304
DataFrame 23: 唯一的FID_个数 = 17304
DataFrame 24: 唯一的FID_个数 = 17304
DataFrame 25: 唯一的FID_个数 = 17304
DataFrame 26: 唯一的FID_个数 = 17304

In [6]:
# 假设你有一个包含所有DataFrame的列表dfs，以及名为old_16914的DataFrame

df_old_16914 = pd.read_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/Aug_11_2018_old_筛选单元_16914.csv", index_col=None, header=0)
# 提取old_16914 DataFrame中的唯一FID_值
old_16914_fid_values = set(df_old_16914['FID_'])

# 创建一个新的列表，包含经过筛选的26个DataFrame
filtered_dfs = []

for i, df in enumerate(dfs):
    if 'FID_' in df.columns:
        filtered_df = df[df['FID_'].isin(old_16914_fid_values)]
        filtered_dfs.append(filtered_df)
        unique_fid_count = len(filtered_df['FID_'].unique())
        print(f"DataFrame {i+1} 中的唯一FID_个数 = {unique_fid_count}")
        globals()[f'dfa_{i+1}'] = filtered_df  # 命名DataFrame

DataFrame 1 中的唯一FID_个数 = 16914
DataFrame 2 中的唯一FID_个数 = 16914
DataFrame 3 中的唯一FID_个数 = 16914
DataFrame 4 中的唯一FID_个数 = 16914
DataFrame 5 中的唯一FID_个数 = 16914
DataFrame 6 中的唯一FID_个数 = 16914
DataFrame 7 中的唯一FID_个数 = 16914
DataFrame 8 中的唯一FID_个数 = 16914
DataFrame 9 中的唯一FID_个数 = 16914
DataFrame 10 中的唯一FID_个数 = 16914
DataFrame 11 中的唯一FID_个数 = 16914
DataFrame 12 中的唯一FID_个数 = 16914
DataFrame 13 中的唯一FID_个数 = 16914
DataFrame 14 中的唯一FID_个数 = 16914
DataFrame 15 中的唯一FID_个数 = 16914
DataFrame 16 中的唯一FID_个数 = 16914
DataFrame 17 中的唯一FID_个数 = 16868
DataFrame 18 中的唯一FID_个数 = 16868
DataFrame 19 中的唯一FID_个数 = 16868
DataFrame 20 中的唯一FID_个数 = 16868
DataFrame 21 中的唯一FID_个数 = 16868
DataFrame 22 中的唯一FID_个数 = 16868
DataFrame 23 中的唯一FID_个数 = 16868
DataFrame 24 中的唯一FID_个数 = 16868
DataFrame 25 中的唯一FID_个数 = 16868
DataFrame 26 中的唯一FID_个数 = 16868

In [7]:
dfa_s = [dfa_1, dfa_2, dfa_3, dfa_4, dfa_5, dfa_6, dfa_7, dfa_8, dfa_9, dfa_10,dfa_11,dfa_12, dfa_13, dfa_14, dfa_15, dfa_16, dfa_17, dfa_18, dfa_19, dfa_20, dfa_21, dfa_22, dfa_23, dfa_24, dfa_25, dfa_26]

In [8]:
# 提取后10个DataFrame中的唯一FID_值



unique_fid_values = set(dfa_s[16]['FID_'])

# 创建一个新的列表，包含筛选后的26个DataFrame
filtered_dfs = []

# 遍历前16个DataFrame，筛选出与后10个DataFrame的FID_唯一值相同的行，并统计唯一FID_的个数
for i, df in enumerate(dfa_s):
    if 'FID_' in df.columns:
        filtered_df = df[df['FID_'].isin(unique_fid_values)]
        filtered_dfs.append(filtered_df)
        unique_fid_count = len(filtered_df['FID_'].unique())
        print(f"前16个DataFrame {i+1} 中的唯一FID_个数 = {unique_fid_count}")
        globals()[f'dfn_{i+1}'] = filtered_df  # 命名DataFrame

# 检查每个DataFrame的FID_唯一值是否完全一致
first_unique_fid_values = set(filtered_dfs[0]['FID_'])
all_fid_values_are_identical = all(set(df['FID_']) == first_unique_fid_values for df in filtered_dfs)

if all_fid_values_are_identical:
    print("所有DataFrame的FID_唯一值完全一致。")
else:
    print("不是所有DataFrame的FID_唯一值完全一致。")
    
# 提取筛选后的FID_唯一值，保存为CSV文件
unique_fid_values = set(filtered_dfs[0]['FID_']) 
df_unique_fid_values = pd.DataFrame(unique_fid_values, columns=['FID_'])
df_unique_fid_values.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/unique_fid_values_16868.csv", index=False)

前16个DataFrame 1 中的唯一FID_个数 = 16868
前16个DataFrame 2 中的唯一FID_个数 = 16868
前16个DataFrame 3 中的唯一FID_个数 = 16868
前16个DataFrame 4 中的唯一FID_个数 = 16868
前16个DataFrame 5 中的唯一FID_个数 = 16868
前16个DataFrame 6 中的唯一FID_个数 = 16868
前16个DataFrame 7 中的唯一FID_个数 = 16868
前16个DataFrame 8 中的唯一FID_个数 = 16868
前16个DataFrame 9 中的唯一FID_个数 = 16868
前16个DataFrame 10 中的唯一FID_个数 = 16868
前16个DataFrame 11 中的唯一FID_个数 = 16868
前16个DataFrame 12 中的唯一FID_个数 = 16868
前16个DataFrame 13 中的唯一FID_个数 = 16868
前16个DataFrame 14 中的唯一FID_个数 = 16868
前16个DataFrame 15 中的唯一FID_个数 = 16868
前16个DataFrame 16 中的唯一FID_个数 = 16868
前16个DataFrame 17 中的唯一FID_个数 = 16868
前16个DataFrame 18 中的唯一FID_个数 = 16868
前16个DataFrame 19 中的唯一FID_个数 = 16868
前16个DataFrame 20 中的唯一FID_个数 = 16868
前16个DataFrame 21 中的唯一FID_个数 = 16868
前16个DataFrame 22 中的唯一FID_个数 = 16868
前16个DataFrame 23 中的唯一FID_个数 = 16868
前16个DataFrame 24 中的唯一FID_个数 = 16868
前16个DataFrame 25 中的唯一FID_个数 = 16868
前16个DataFrame 26 中的唯一FID_个数 = 16868
所有DataFrame的FID_唯一值完全一致。

In [9]:
# 检查dfn_1的FID_唯一值个数
unique_fid_count = len(dfn_1['FID_'].unique())
unique_fid_count

16868

In [10]:
# 提取20场事件
dff_1 = dfn_3
dff_2 = dfn_6
dff_3 = dfn_7
dff_4 = dfn_8
dff_5 = dfn_1
dff_6 = dfn_5
dff_7 = dfn_9

dff_8 = dfn_17
dff_9 = dfn_20
dff_10 = dfn_21
dff_11 = dfn_25
dff_12 = dfn_19
dff_13 = dfn_22
dff_14 = dfn_23
dff_15 = dfn_24
dff_16 = dfn_26

dff_17 = dfn_4
dff_18 = dfn_13
dff_19 = dfn_15
dff_20 = dfn_18

In [11]:
# 把dff_1-12保存为csv文件
dff_1.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df1_240218.csv", index=False)
dff_2.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df2_240218.csv", index=False)
dff_3.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df3_240218.csv", index=False)
dff_4.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df4_240218.csv", index=False)
dff_5.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df5_240218.csv", index=False)
dff_6.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df6_240218.csv", index=False)
dff_7.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df7_240218.csv", index=False)
dff_8.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df8_240218.csv", index=False)
dff_9.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df9_240218.csv", index=False)
dff_10.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df10_240218.csv", index=False)
dff_11.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df11_240218.csv", index=False)
dff_12.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df12_240218.csv", index=False)
dff_13.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df13_240218.csv", index=False)
dff_14.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df14_240218.csv", index=False)
dff_15.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df15_240218.csv", index=False)
dff_16.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df16_240218.csv", index=False)
dff_17.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df17_240218.csv", index=False)
dff_18.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df18_240218.csv", index=False)
dff_19.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df19_240218.csv", index=False)
dff_20.to_csv("D:/0. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/数据/df20_240218.csv", index=False)

In [ ]:
# 231014 按原论文二分类，但按降雨强度和潮水位排序，方便后续抽样
# 1-16降雨，17-26潮水位
dff_1 = dfn_3
dff_2 = dfn_13
dff_3 = dfn_16
dff_4 = dfn_7
dff_5 = dfn_4
dff_6 = dfn_15
dff_7 = dfn_6
dff_8 = dfn_8
dff_9 = dfn_12
dff_10 = dfn_1
dff_11 = dfn_9
dff_12 = dfn_5
dff_13 = dfn_11
dff_14 = dfn_14
dff_15 = dfn_10
dff_16 = dfn_2


dff_17 = dfn_18
dff_18 = dfn_25
dff_19 = dfn_24
dff_20 = dfn_22
dff_21 = dfn_21
dff_22 = dfn_26
dff_23 = dfn_17
dff_24 = dfn_20
dff_25 = dfn_23
dff_26 = dfn_19

In [ ]:
'''
# 231011 降雨1-13，潮汐14-22，R-T23-26

dff_1 = dfn_3
dff_2 = dfn_16
dff_3 = dfn_7
dff_4 = dfn_6
dff_5 = dfn_8
dff_6 = dfn_12
dff_7 = dfn_1
dff_8 = dfn_9
dff_9 = dfn_5
dff_10 = dfn_11
dff_11 = dfn_14
dff_12 = dfn_10
dff_13 = dfn_2

dff_14 = dfn_25
dff_15 = dfn_24
dff_16 = dfn_22
dff_17 = dfn_21
dff_18 = dfn_26
dff_19 = dfn_17
dff_20 = dfn_20
dff_21 = dfn_23
dff_22 = dfn_19

dff_23 = dfn_18
dff_24 = dfn_15
dff_25 = dfn_13
dff_26 = dfn_4
'''

'\n# 231011 降雨1-13，潮汐14-22，R-T23-26\n\ndff_1 = dfn_3\ndff_2 = dfn_16\ndff_3 = dfn_7\ndff_4 = dfn_6\ndff_5 = dfn_8\ndff_6 = dfn_12\ndff_7 = dfn_1\ndff_8 = dfn_9\ndff_9 = dfn_5\ndff_10 = dfn_11\ndff_11 = dfn_14\ndff_12 = dfn_10\ndff_13 = dfn_2\n\ndff_14 = dfn_25\ndff_15 = dfn_24\ndff_16 = dfn_22\ndff_17 = dfn_21\ndff_18 = dfn_26\ndff_19 = dfn_17\ndff_20 = dfn_20\ndff_21 = dfn_23\ndff_22 = dfn_19\n\ndff_23 = dfn_18\ndff_24 = dfn_15\ndff_25 = dfn_13\ndff_26 = dfn_4\n'

In [ ]:
'''
# 230920
# 事件重新排序，从大到小，1-13降雨，14-19潮汐，20-26降雨-潮汐
dff_1 = dfn_16
dff_2 = dfn_8
dff_3 = dfn_1
dff_4 = dfn_12
dff_5 = dfn_6
dff_6 = dfn_10
dff_7 = dfn_9
dff_8 = dfn_14
dff_9 = dfn_11
dff_10 = dfn_5
dff_11 = dfn_3
dff_12 = dfn_7
dff_13 = dfn_2

dff_14 = dfn_19
dff_15 = dfn_20
dff_16 = dfn_25
dff_17 = dfn_17
dff_18 = dfn_26
dff_19 = dfn_21

dff_20 = dfn_13
dff_21 = dfn_15
dff_22 = dfn_4
dff_23 = dfn_18
dff_24 = dfn_24
dff_25 = dfn_22
dff_26 = dfn_23
'''

'\n# 230920\n# 事件重新排序，从大到小，1-13降雨，14-19潮汐，20-26降雨-潮汐\ndff_1 = dfn_16\ndff_2 = dfn_8\ndff_3 = dfn_1\ndff_4 = dfn_12\ndff_5 = dfn_6\ndff_6 = dfn_10\ndff_7 = dfn_9\ndff_8 = dfn_14\ndff_9 = dfn_11\ndff_10 = dfn_5\ndff_11 = dfn_3\ndff_12 = dfn_7\ndff_13 = dfn_2\n\ndff_14 = dfn_19\ndff_15 = dfn_20\ndff_16 = dfn_25\ndff_17 = dfn_17\ndff_18 = dfn_26\ndff_19 = dfn_21\n\ndff_20 = dfn_13\ndff_21 = dfn_15\ndff_22 = dfn_4\ndff_23 = dfn_18\ndff_24 = dfn_24\ndff_25 = dfn_22\ndff_26 = dfn_23\n'

In [ ]:
'''
# 降雨前13个为高，后13个为低；潮汐前13个为高（正好高于0.8m），后13个为低；
# 降雨主导：高降雨低潮汐：3,16，7,6,8,12,1,9,5
# 潮汐主导：高潮汐低降雨：25,24,22,21,26,17,20,23,19
# 降雨-潮汐主导：高降雨高潮汐+低降雨低潮汐：13,15,18,4,10,14,2,11

# 事件重新排序，从大到小，1-9降雨主导，10-18潮汐，20-26降雨-潮汐

dff_1 = dfn_3
dff_2 = dfn_16
dff_3 = dfn_7
dff_4 = dfn_6
dff_5 = dfn_8
dff_6 = dfn_12
dff_7 = dfn_1
dff_8 = dfn_9
dff_9 = dfn_5

dff_10 = dfn_25
dff_11 = dfn_24
dff_12 = dfn_22
dff_13 = dfn_21
dff_14 = dfn_26
dff_15 = dfn_17
dff_16 = dfn_20
dff_17 = dfn_23
dff_18 = dfn_19

dff_19 = dfn_13
dff_20 = dfn_15
dff_21 = dfn_18
dff_22 = dfn_4
dff_23 = dfn_10
dff_24 = dfn_14
dff_25 = dfn_2
dff_26 = dfn_11
'''

'\n# 降雨前13个为高，后13个为低；潮汐前13个为高（正好高于0.8m），后13个为低；\n# 降雨主导：高降雨低潮汐：3,16，7,6,8,12,1,9,5\n# 潮汐主导：高潮汐低降雨：25,24,22,21,26,17,20,23,19\n# 降雨-潮汐主导：高降雨高潮汐+低降雨低潮汐：13,15,18,4,10,14,2,11\n\n# 事件重新排序，从大到小，1-9降雨主导，10-18潮汐，20-26降雨-潮汐\n\ndff_1 = dfn_3\ndff_2 = dfn_16\ndff_3 = dfn_7\ndff_4 = dfn_6\ndff_5 = dfn_8\ndff_6 = dfn_12\ndff_7 = dfn_1\ndff_8 = dfn_9\ndff_9 = dfn_5\n\ndff_10 = dfn_25\ndff_11 = dfn_24\ndff_12 = dfn_22\ndff_13 = dfn_21\ndff_14 = dfn_26\ndff_15 = dfn_17\ndff_16 = dfn_20\ndff_17 = dfn_23\ndff_18 = dfn_19\n\ndff_19 = dfn_13\ndff_20 = dfn_15\ndff_21 = dfn_18\ndff_22 = dfn_4\ndff_23 = dfn_10\ndff_24 = dfn_14\ndff_25 = dfn_2\ndff_26 = dfn_11\n'

In [ ]:
# 将设定好事件的DataFrame保存为CSV文件
dfff_s = [dff_1, dff_2, dff_3, dff_4, dff_5, dff_6, dff_7, dff_8, dff_9, dff_10, dff_11, dff_12, dff_13, dff_14, dff_15, dff_16, dff_17, dff_18, dff_19, dff_20, dff_21, dff_22, dff_23, dff_24, dff_25, dff_26]
for i, df in enumerate(dfff_s):
    df.to_csv(f"D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/dfn_{i+1}_231017_事件2分类.csv", index=False)

In [ ]:
dff_1

,FID_,FULLNAME,RH,DateTime,MAX15,HR_2,HR_72,w_depth,TD_HR,ELV,DTW,TWI
0,0,E LITTLE CREEK ROAD,0.000000,Aug18_20_03,0.000000,0.000000,0.000000,0.0000,-0.061,3.449655,2032.268709,7.511351
1,1,E LITTLE CREEK ROAD,0.000000,Aug18_20_03,0.000000,0.000000,0.000000,0.0000,-0.061,3.351578,2289.101516,7.397089
2,2,E LITTLE CREEK ROAD,0.000000,Aug18_20_03,0.000000,0.000000,0.000000,0.0000,-0.061,3.355286,2170.271564,7.548316
3,3,E LITTLE CREEK ROAD,0.000000,Aug18_20_03,0.000000,0.000000,0.000000,0.0000,-0.061,3.489952,2261.629379,8.816202
4,4,E LITTLE CREEK ROAD,0.000000,Aug18_20_03,0.000000,0.000000,0.000000,0.0000,-0.061,3.421316,2262.551560,9.006661
...,...,...,...,...,...,...,...,...,...,...,...,...
86570,17497,CHILDRENS LANE,0.000622,Aug18_20_07,0.000622,1.360864,1.433899,0.0000,0.450,2.471787,995.830006,5.545090
86571,17498,CHILDRENS LANE,0.000621,Aug18_20_07,0.000621,1.362325,1.435045,0.0000,0.450,2.573513,1024.210310,7.424834
86572,17499,FAIRFAX AVENUE,0.000625,Aug18_20_07,0.000625,1.359565,1.432944,0.1460,0.450,2.150453,890.199884,6.642009
86573,17500,FAIRFAX AVENUE,0.000627,Aug18_20_07,0.000627,1.358953,1.432537,0.0000,0.450,2.170294,786.371904,6.314220
86574,17501,WOOD STREET,0.000489,Aug18_20_07,0.000489,1.290906,1.380708,0.0012,0.450,2.928563,2973.308531,4.465188

In [ ]:
dfn_s = [dfn_1, dfn_2, dfn_3, dfn_4, dfn_5, dfn_6, dfn_7, dfn_8, dfn_9, dfn_10,dfn_11,dfn_12, dfn_13, dfn_14, dfn_15, dfn_16, dfn_17, dfn_18, dfn_19, dfn_20, dfn_21, dfn_22, dfn_23, dfn_24, dfn_25, dfn_26]

In [ ]:
# 计算每场事件的降雨强度
# 计算每场事件的所有单元总降雨量

# 计算每场事件的总降雨时长
# 计算每场事件的平均降雨强度

results = []

for df in dfn_s:
    # 对RH列求和
    rh_sum = df['RH'].sum()
    # print(rh_sum)
    # 计算FID_为0的个数
    fid_0_count = (df['FID_'] == 0).sum()
    # print(fid_0_count)
    fid_0_count_min = fid_0_count * 60
    # print(fid_0_count_min)
    # 计算结果并添加到结果列表中，保留两位小数
    result = (rh_sum / fid_0_count_min).round(2)
    results.append(result)

# 使用sorted函数对结果进行排序（从大到小）
sorted_results = sorted(enumerate(results), key=lambda x: x[1], reverse=True)

# 打印排序后的结果
for i, result in sorted_results:
    print(result)
    # print(f"dfn_{i + 1}的平均降雨强度为: {result}")
# 将结果输出为CSV文件
df_results = pd.DataFrame(sorted_results, columns=['event_id', 'average_rainfall_intensity'])
df_results.to_csv("D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/average_rainfall_intensity.csv", index=False)

84.25
80.99
37.66
37.47
34.53
32.91
32.67
31.21
27.72
22.96
22.55
21.28
20.85
20.69
17.6
16.49
12.11
9.97
5.31
4.4
4.17
3.91
0.73
0.17
0.09
0.0

In [ ]:
# 降雨前13个为高，后13个为低；潮汐前13个为高（正好高于0.8m），后13个为低；
# 降雨主导：高降雨低潮汐：3,16，7,6,8,12,1,9,5
# 潮汐主导：高潮汐低降雨：25,24,22,21,26,17,20,23,19
# 降雨-潮汐主导：高降雨高潮汐+低降雨低潮汐：13,15,18,4,10,14,2,11

In [ ]:
# 计算每场事件的最高潮水位，根据最高潮水位进行排序
max_td_hr_values = []

for df in dfn_s:
    # 找到TD_HR列的最大值
    max_rh = df['TD_HR'].max()
    
    max_td_hr_values.append(max_rh)

# 使用sorted函数对最大值进行排序（从大到小）
sorted_results = sorted(enumerate(max_td_hr_values), key=lambda x: x[1], reverse=True)

# 打印排序后的结果
for i, max_rh in sorted_results:
    # print(f"dfn_s{i + 1}的最高潮水位为: {max_rh}")
    print(max_rh)
# 将结果输出为CSV文件
df_results = pd.DataFrame(sorted_results, columns=['event_id', 'max_td_hr'])
df_results.to_csv("D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/max_td_hr.csv", index=False)

1.377
1.27
1.114
1.098
1.094
1.082
1.072
1.021
1.012
0.996
0.994
0.981
0.851
0.75
0.684
0.633
0.624
0.603
0.534
0.483
0.45
0.441
0.429
0.401
0.39
0.244

In [14]:
# 提取单元最大积水深度
dffs = [dff_1, dff_2, dff_3, dff_4, dff_5, dff_6, dff_7, dff_8, dff_9, dff_10,dff_11,dff_12, dff_13, dff_14, dff_15, dff_16, dff_17, dff_18, dff_19, dff_20, dff_21, dff_22, dff_23, dff_24, dff_25, dff_26] # 将所有数据框放入列表中
max_w_depth_dict = {} # 创建一个空字典来存储结果

for i, df in enumerate(dffs): # 遍历列表中的数据框 enumerate()函数用于将一个可遍历的数据对象(如列表、元组或字符串)组合为一个索引序列，同时列出数据和数据下标
    grouped = df.groupby('FID_') # 按FID_列分组
    max_w_depth = grouped['w_depth'].max() # 计算每个单元的最大水深
    max_w_depth_dict[f'df{i+1}'] = max_w_depth # 将结果存储在字典中，键为数据框名


dff = pd.DataFrame.from_dict(max_w_depth_dict, orient='index')

dff_new = dff.transpose(copy=True)
dff_new.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/max_depth_16868_26_231014.csv', index=True, header=True)
dff_new

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0.1967,0.6026,0.5655,0.3038,0.4474,0.4365,0.4166,0.5318,0.3851,0.4054,...,0.3980,0.0,0.4206,0.1893,0.2179,0.0647,0.0,0.0644,0.1292,0.0650
1,0.3095,0.6918,0.6544,0.3929,0.5367,0.5257,0.5058,0.6211,0.4743,0.4946,...,0.5109,0.0,0.5335,0.3022,0.3308,0.0944,0.0,0.0930,0.2421,0.0884
2,0.2742,0.6564,0.6191,0.3576,0.5014,0.4904,0.4705,0.5854,0.4390,0.4593,...,0.4756,0.0,0.4982,0.2669,0.2955,0.0000,0.0,0.0000,0.2068,0.0000
3,0.1340,0.5152,0.4779,0.2163,0.3603,0.3493,0.3294,0.4443,0.2979,0.3182,...,0.3345,0.0,0.3571,0.1276,0.1544,0.0000,0.0,0.0000,0.1037,0.0000
4,0.2197,0.6018,0.5647,0.3030,0.4469,0.4358,0.4160,0.5311,0.3845,0.4048,...,0.4211,0.0,0.4437,0.2124,0.2410,0.0000,0.0,0.0000,0.1475,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17497,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0000,0.0055,0.0000,0.0000,...,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000
17498,0.0000,0.0296,0.0399,0.0000,0.0000,0.0000,0.0539,0.1362,0.0000,0.0000,...,0.0610,0.0,0.0609,0.0586,0.0372,0.0353,0.0,0.0000,0.0580,0.0000
17499,0.1919,0.2134,0.2131,0.1899,0.6235,0.1931,0.2042,0.2326,0.1976,0.2066,...,0.1850,0.0,0.1792,0.1597,0.1012,0.1485,0.0,0.1022,0.1626,0.1447
17500,0.0842,0.0999,0.0985,0.0818,0.0820,0.0849,0.0929,0.1555,0.0887,0.0936,...,0.0000,0.0,0.0000,0.0000,0.0000,0.0000,0.0,0.0000,0.0000,0.0000
17501,0.0012,0.0925,0.0974,0.0012,0.0041,0.0042,0.0856,0.0962,0.0041,0.0835,...,0.0041,0.0,0.0041,0.0000,0.0012,0.0000,0.0,0.0000,0.0000,0.0000

In [20]:
# 确定每场事件中的易涝单元(阈值：大于0.3)

# 假设你的原始DataFrame为dff_new，包含26列不同的洪水事件，17315行不同的单元
# 复制原始DataFrame
suscept_3 = dff_new.copy()

# 遍历每一列（洪水事件）
for column in suscept_3.columns:
    # 使用条件设置0或1
    suscept_3[column] = (suscept_3[column] > 0.3).astype(int)

# 现在，suscept_3中的值已经根据水深值设置为0或1
suscept_3.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/susceptibility_16868_26_0.3_231010.csv', index=True, header=True)
suscept_3

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1,1,1
2,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
3,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,1,1,1,1
4,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
# 确定每场事件中的易涝单元(阈值：大于0.4)

# 假设你的原始DataFrame为dff_new，包含26列不同的洪水事件，17315行不同的单元
# 复制原始DataFrame
suscept_4 = dff_new.copy()

# 遍历每一列（洪水事件）
for column in suscept_4.columns:
    # 使用条件设置0或1
    suscept_4[column] = (suscept_4[column] > 0.4).astype(int)

# 现在，suscept_3中的值已经根据水深值设置为0或1
suscept_4.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/susceptibility_16868_26_0.4.csv', index=True, header=True)
suscept_4

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0,1,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,0,1,1,1
1,0,1,0,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
2,0,1,0,1,1,1,1,1,0,1,...,0,0,0,0,0,0,1,1,1,1
3,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4,0,1,0,1,1,0,1,0,0,1,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
17500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [22]:
# 确定每场事件中的易涝单元(阈值：大于0.2)

# 假设你的原始DataFrame为dff_new，包含26列不同的洪水事件，17315行不同的单元
# 复制原始DataFrame
suscept_2 = dff_new.copy()

# 遍历每一列（洪水事件）
for column in suscept_2.columns:
    # 使用条件设置0或1
    suscept_2[column] = (suscept_2[column] > 0.2).astype(int)

# 现在，suscept_3中的值已经根据水深值设置为0或1
suscept_2.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/susceptibility_16868_26_0.2.csv', index=True, header=True)
suscept_2

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,1,0,1,1,1,1
2,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,1,0,1,1,1,1
3,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
4,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17497,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17498,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17499,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,0,0,1,1
17500,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17501,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [23]:
# 查看每个场次不同阈值易涝点个数

# 假设你有一个DataFrame df，想要按列求和
# 使用sum()函数按列求和
column_sums_2 = suscept_2.sum()
column_sums_3 = suscept_3.sum()
column_sums_4 = suscept_4.sum()

# 假设你有一个DataFrame df，包含三列数据，分别为 col1、col2、col3
# 使用concat函数将这三列放在一起
suscept_234 = pd.concat([column_sums_2,column_sums_3, column_sums_4], axis=1)

# 为新的DataFrame添加列标题
suscept_234.columns = ['suscept_2', 'suscept_3', 'suscept_4']
suscept_234.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/susceptibility_17315_26_234.csv', index=True, header=True)
# 打印新的DataFrame
print(suscept_234)

      suscept_2  suscept_3  suscept_4
df1        2976       1056        432
df2        5352       2743       1551
df3        2653        903        329
df4        4031       1684        763
df5        5522       2427       1137
df6        2693       1044        482
df7        2461        850        384
df8        3779       1569        715
df9        1811        595        253
df10       3842       1619        759
df11       1898        649        258
df12       3182       1316        579
df13        875        227         85
df14        310        195        131
df15       2217        867        419
df16       1049        355        165
df17       1092        386        158
df18        319        159         71
df19        200        131         59
df20        294        144         63
df21        944        316        125
df22        213         75         27
df23       3077       1313        640
df24       4337       2384       1490
df25       6810       4130       2737
df26       3442       1513        763

In [24]:
# 查看单元在26场事件中出现至少一次1的点（0.3为例）

# 假设你的DataFrame为suscpet_3，包含26列不同的洪水事件，17315行不同的单元
# 创建一个新的DataFrame，只包含至少有一个1的行
suscept_3_1 = suscept_3[suscept_3.any(axis=1)] # axis=1表示按行查找，suscept_3.any(axis=1)表示查找每一行中是否有1，有则返回True，无则返回False

# 计算符合条件的行数（单元数）
num_units_with_1 = len(suscept_3_1)

# 打印新DataFrame和符合条件的单元数

print(f"符合条件的单元数: {num_units_with_1}")
suscept_3_1.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_16868_26_3_1.csv', index=True, header=True)
suscept_3_1

符合条件的单元数: 4893

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1,1,1
2,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
3,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,1,1,1,1
4,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17481,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17483,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17485,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
17491,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
17499,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1

In [25]:
# 查看单元在26场时间中出现至少一次1的点（0.4为例）

# 假设你的DataFrame为suscpet_3，包含26列不同的洪水事件，17315行不同的单元
# 创建一个新的DataFrame，只包含至少有一个1的行
suscept_4_1 = suscept_4[suscept_4.any(axis=1)]

# 计算符合条件的行数（单元数）
num_units_with_1 = len(suscept_4_1)

# 打印新DataFrame和符合条件的单元数
print("在26场时间中出现至少一次1的点:")
print(suscept_4_1)
print(f"符合条件的单元数: {num_units_with_1}")
suscept_4_1.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_17315_26_4_1.csv', index=True, header=True)

在26场时间中出现至少一次1的点:
       df1  df2  df3  df4  df5  df6  df7  df8  df9  df10  ...  df17  df18  \
0        0    1    0    1    1    0    1    0    0     1  ...     0     0
1        0    1    0    1    1    1    1    1    1     1  ...     0     0
2        0    1    0    1    1    1    1    1    0     1  ...     0     0
3        0    1    0    0    1    0    0    0    0     0  ...     0     0
4        0    1    0    1    1    0    1    0    0     1  ...     0     0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...   ...   ...
17467    0    1    0    0    1    0    0    0    0     0  ...     0     0
17468    0    0    0    0    0    0    0    0    0     0  ...     0     0
17485    0    0    0    0    0    0    0    0    0     0  ...     0     0
17491    0    0    0    0    0    0    0    0    0     0  ...     0     0
17499    0    0    0    0    0    0    0    0    0     0  ...     0     0

       df19  df20  df21  df22  df23  df24  df25  df26
0         0     0     0     0     0     1     1     1
1         0     0     0     0     1     1     1     1
2         0     0     0     0     1     1     1     1
3         0     0     0     0     0     0     1     0
4         0     0     0     0     1     1     1     1
...     ...   ...   ...   ...   ...   ...   ...   ...
17467     0     0     0     0     1     0     1     0
17468     0     0     0     0     0     0     0     0
17485     0     0     0     0     0     0     1     0
17491     0     0     0     0     0     0     1     0
17499     0     0     0     0     0     0     0     1

[3309 rows x 26 columns]
符合条件的单元数: 3309

In [26]:
# 查看单元在26场时间中出现至少一次1的点（0.2为例）

# 假设你的DataFrame为suscpet_3，包含26列不同的洪水事件，17315行不同的单元
# 创建一个新的DataFrame，只包含至少有一个1的行
suscept_2_1 = suscept_2[suscept_2.any(axis=1)]

# 计算符合条件的行数（单元数）
num_units_with_1 = len(suscept_2_1)

# 打印新DataFrame和符合条件的单元数
print("在26场时间中出现至少一次1的点:")
print(suscept_2_1)
print(f"符合条件的单元数: {num_units_with_1}")
suscept_2_1.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_17315_26_2_1.csv', index=True, header=True)

在26场时间中出现至少一次1的点:
       df1  df2  df3  df4  df5  df6  df7  df8  df9  df10  ...  df17  df18  \
0        0    1    1    1    1    1    1    1    1     1  ...     1     0
1        1    1    1    1    1    1    1    1    1     1  ...     1     0
2        1    1    1    1    1    1    1    1    1     1  ...     1     0
3        0    1    1    1    1    1    1    1    1     1  ...     0     0
4        1    1    1    1    1    1    1    1    1     1  ...     1     0
...    ...  ...  ...  ...  ...  ...  ...  ...  ...   ...  ...   ...   ...
17481    0    0    0    0    0    0    0    0    0     0  ...     0     0
17483    0    0    0    0    0    0    0    0    0     0  ...     0     0
17485    0    1    0    0    1    0    0    0    0     1  ...     0     0
17491    0    1    0    0    1    1    1    0    0     0  ...     0     0
17499    0    1    0    1    1    0    1    1    0     1  ...     0     0

       df19  df20  df21  df22  df23  df24  df25  df26
0         0     0     0     0     1     1     1     1
1         0     0     1     0     1     1     1     1
2         0     0     1     0     1     1     1     1
3         0     0     0     0     1     1     1     1
4         0     0     0     0     1     1     1     1
...     ...   ...   ...   ...   ...   ...   ...   ...
17481     0     0     0     0     0     1     1     0
17483     0     0     0     0     0     1     1     0
17485     0     0     0     0     0     1     1     1
17491     0     0     0     0     0     1     1     1
17499     0     0     0     0     0     0     1     1

[7938 rows x 26 columns]
符合条件的单元数: 7938

In [27]:
# 找出易涝点只发生在降雨事件，不发生在潮汐事件的点

# 假设你的DataFrame为suscept_3_1，包含26列不同的洪水事件，17315行不同的单元
# 创建一个新的DataFrame，只包含第14列到第26列均为0的行
suscept_3_1_r = suscept_3_1[(suscept_3_1.iloc[:, 13:26] == 0).all(axis=1)]

# 计算符合条件的行数（单元数）
num_units_all_zero = len(suscept_3_1_r)

# 打印新DataFrame和符合条件的单元数

print(f"符合条件的单元数: {num_units_all_zero}")

suscept_3_1_r.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_17315_26_3_1_r_new_230929.csv', index=True, header=True)
suscept_3_1_r

符合条件的单元数: 224

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
40,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
49,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
95,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
96,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17248,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17283,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
17338,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17340,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
17360,0,1,0,0,1,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
# 找出易涝点只发生在潮汐事件，不发生在降雨事件的点

# 假设你的DataFrame为suscept_3_1，包含26列不同的洪水事件，17315行不同的单元
# 创建一个新的DataFrame，只包含第1到第13列和20到26列均为0的行
cols_to_check = list(range(0, 13)) + list(range(19, 26))
suscept_3_1_t = suscept_3_1[(suscept_3_1.iloc[:, cols_to_check] == 0).all(axis=1)]


# 计算符合条件的行数（单元数）
num_units_all_zero = len(suscept_3_1_t)

# 打印新DataFrame和符合条件的单元数

print(f"符合条件的单元数: {num_units_all_zero}")
suscept_3_1_t.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_17315_26_3_1_t_new_230929.csv', index=True, header=True)
suscept_3_1_t

符合条件的单元数: 2

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
10252,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13758,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [29]:
# 剩余既在1-16有1，也在17-26有1，为受到双重影响的点

# 假设你有三个DataFrame：suscept_3_1（总df）、df1（第一个分df）、df2（第二个分df）

# 合并两个分DataFrame
merged_df = pd.concat([suscept_3_1_r, suscept_3_1_t])

# 从总DataFrame中除去两个分DataFrame的行
suscept_3_1_rt = suscept_3_1.merge(merged_df, on=suscept_3_1.columns.tolist(), how='left', indicator=True).query('_merge == "left_only"').drop(columns=['_merge'])

# 打印新的DataFrame
suscept_3_1_rt.to_csv(f'D:/a. work/papers/interpretable ML for urban flood susceptibility/数据类型对比分析/suscept_17315_26_3_1_rt.csv', index=True, header=True)
suscept_3_1_rt

,df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,...,df17,df18,df19,df20,df21,df22,df23,df24,df25,df26
0,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
1,1,1,1,1,1,1,1,1,1,1,...,1,0,0,0,0,0,1,1,1,1
2,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
3,0,1,0,1,1,0,1,1,0,1,...,0,0,0,0,0,0,1,1,1,1
4,0,1,1,1,1,1,1,1,1,1,...,0,0,0,0,0,0,1,1,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34228,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34229,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34230,0,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
34231,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,1,0
34232,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1